@model IEnumerable<CourseOPR.Models.Score>

@{
    ViewData["Title"] = "View";
}

<h1>Электронная выписка выбранного студента </h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Оценка
            </th>
            <th>
                Студент
            </th>
            <th>
                Название предмета
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ScoreValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.StudentFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.SubjectName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ScoreId">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.ScoreId">Подробнее</a> |
                    <a asp-action="Delete" asp-route-id="@item.ScoreId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>